.*
*.ipynb
__pycache__
notebooks/Plots
notebooks/check_grid_idea.ipynb
literature
*.yaml
*.txt
*.npy
database
trash
objective_function/energy_scalings
benchmark/logs
benchmark/parameters/csvs
benchmark/plot_scripts
benchmark/plots
benchmark/results
